    </div>{{!-- end .page-rip in header.hbs --}}
    <footer class="margin-top-xxl position--relative container">
      <a class="button footer--button" href="https://applegate.com/locator">Where To Buy</a>
      <div class="row">
        <div class="col-12">
          <div class="row margin-top-lg margin-bottom-lg footer--links">
            <div class="col-lg-3 col-6">
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase"><a href="https://applegate.com/animal-welfare">Animal Welfare</a></p>
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase"><a href="https://applegate.com/mission">Mission</a></p>
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase"><a href="https://applegate.com/coupons">Coupons</a></p>
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase"><a href="https://applegate.com/newsletter">Newsletter</a></p>
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase"><a href="https://applegate.com/careers">Careers</a></p>
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase"><a href="https://applegate.zendesk.com/hc/en-us/requests/new">Contact Us</a></p>
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase"><a href="sms://19087255800?&amp;body=Hey%20Applegate%20ðŸŒ­ðŸ¥“ðŸ”%20I%20have%20a%20question...">Text Us</a><span class="d-none d-sm-inline"> - +1 (908) 725-5800</span></p>
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase d-lg-none"><a href="https://applegate.com/products">Products</a></p>
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase d-lg-none"><a href="https://applegate.com/recipes">Recipes</a></p>
            </div>
            <div class="col-lg-3 col-6">
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase"><a href="https://applegate.com/about-us">About Us</a></p>
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase"><a href="https://applegate.zendesk.com/">Help</a></p>
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase"><a href="https://applegate.com/community">Blog</a></p>
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase"><a href="https://applegate.com/allergen_search">Allergen Search</a></p>
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase"><a href="https://applegate.com/real_food_has_a_story">Barn Code&reg;</a></p>
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase"><a target="_blank" href="https://www.hormelfoodservice.com/brand/applegate/">Foodservice</a></p>
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase"><a href="https://applegate.com/review">Review Our Products</a></p>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
              <div class="row">
                <div class="col-lg-8">
                  <p class="small font-weight--bold uppercase margin-bottom-xxs"><a href="https://applegate.com/products">Products</a></p>
                </div>
                <div class="col-lg-4">
                  <p class="small font-weight--bold uppercase margin-bottom-xxs"><a href="https://applegate.com/recipes">Recipes</a></p>
                </div>
                <div class="col-lg-4">
                  <p><a href="https://applegate.com/products/bacon/category">Bacon</a></p>
                  <p><a href="https://applegate.com/products/breaded-chicken/category">Breaded Chicken</a></p>
                  <p><a href="https://applegate.com/products/breakfast-sausage/category">Breakfast Sausage</a></p>
                  <p><a href="https://applegate.com/products/burgers/category">Burgers</a></p>
                  <p><a href="https://applegate.com/products/wall-deli-cheese/category">Cheese</a></p>
                  <p><a href="https://applegate.com/products/wall-deli-meat/category">Deli Meat</a></p>
                  <p><a href="https://applegate.com/products/dinner-sausage/category">Dinner Sausage</a></p>
                </div>
                <div class="col-lg-4">
                  <p><a href="https://applegate.com/products/chicken-strips/category">Grilled Chicken Strips</a></p>
                  <p><a href="https://applegate.com/products/hot-dogs/category">Hot Dogs</a></p>
                  <p><a href="https://applegate.com/products/meatballs/category">Meatballs</a></p>
                  <p><a href="https://applegate.com/products/snacking/category">Snacking</a></p>
                  <p><a href="https://applegate.com/products/wall-deli-italian/category">Traditional Italian</a></p>
                </div>
                <div class="col-lg-4">
                  <p><a href="https://applegate.com/recipes/search?diet%5B%5D=dairy+free">Dairy Free</a></p>
                  <p><a href="https://applegate.com/recipes/search?diet%5B%5D=gluten+free">Gluten Free</a></p>
                  <p><a href="https://applegate.com/recipes/search?diet%5B%5D=whole30">Whole30</a></p>
                  <p><a href="https://applegate.com/recipes/search?category%5B%5D=breakfast">Breakfasts</a></p>
                  <p><a href="https://applegate.com/recipes/search?category%5B%5D=soup">Soups</a></p>
                  <p><a href="https://applegate.com/recipes/search?category%5B%5D=entree">Entrees</a></p>
                  <p><a href="https://applegate.com/recipes/search?category%5B%5D=side+dish">Side Dishes</a></p>
                  <p><a href="https://applegate.com/recipes/search?category%5B%5D=sandwich">Sandwiches</a></p>
                  <p><a href="https://applegate.com/recipes/search?category%5B%5D=salad">Salads</a></p>
                  <p><a href="https://applegate.com/recipes/search?category%5B%5D=appetizer">Appetizers</a></p>
                  <p><a href="https://applegate.com/recipes/search?category%5B%5D=toppings">Toppings</a></p>
                  <p><a href="https://applegate.com/recipes/search?category%5B%5D=sweets+and+treats">Sweets And Treats</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="row margin-bottom-md">
            <div class="col-12">
              <p><small><sup>*</sup>Animals raised with no antibiotics ever or growth promotants, on vegetarian feed with no animal by products (beef is 100% grass-fed) and with space to engage in natural behaviors and promote natural growth.</small></p>
              <p><small><sup>**</sup>Applegate requires all animals be raised without antibiotics. Applegate is committed to advancing agriculture and processing systems like organic, non-GMO and regenerative farming.</small></p>
            </div>
          </div>
          <div class="row margin-bottom-md">
            <div class="col-md-8">
              <p class="small margin-bottom-xxs"><a href="https://applegate.com/site_map">Site Map</a> | <a href="https://applegate.com/terms-of-use">Terms &amp; Conditions</a> | <a href="https://applegate.com/privacy-policy">Privacy Policy</a> | <a href="https://applegate.zendesk.com/hc/en-us/articles/360043759172-Applegate-s-45-Day-Satisfaction-Guarantee">Applegate's 45 Day Satisfaction Guarantee</a></p>
              <p class="small margin-bottom-xxs"><a href="https://www.hormelfoods.com/ccpa-footer-california-privacy-policy" target="_blank">California Privacy Policy</a> | <a href="https://www.hormelfoods.com/ccpa-footer-california-collection-notice" target="_blank">California Collection Notice</a> | <a href="https://applegate.zendesk.com/hc/en-us/articles/4407304139284">Website Accessibility</a> | <a href="https://www.hormelfoods.com/ccpa-footer-do-not-sell-my-info" target="_blank"><strong>Do Not Sell My Info</strong></a> </p>
            </div>
            <div class="col-md-4 text-right--medium-up">
              <p class="small margin-bottom-xxs">Copyright &copy;2021 Applegate Farms, LLC</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>{{!-- end .wrap--inner in header.hbs --}}
</div>{{!-- end .wrap--outer in header.hbs --}}
<script>
  var Public = (function() {
    var app = {
      init: function() {
        navigation.init();
        this.setSocialNavWidth();
        this.onResize();
      },
      setSocialNavWidth: function() {
        var socialNavWidth = $('.js-nav-social').outerWidth();
        $('.js-nav-social ul').css('width', socialNavWidth + 'px');
      },
      isMobile: function() {
        if ($(window).outerWidth() <= 768) {
          return true;
        } else {
          return false;
        }
      },
      onResize: function() {
        var self = this;
        $(window).on('resize', function(e) {
          self.setSocialNavWidth();
        });
      }
    };
    var navigation = {
      init: function() {
        this.navigationDropdown();
        this.bindMobileNavigation();
      },
      bindMobileNavigation: function() {
        var self = this;
        $('.js-mobile-nav').on('click', function() {
          self.triggerSideCanvas(this);
        });
      },
      triggerSideCanvas: function(el) {
        $('.wrap--outer').toggleClass('-extended');
        this.scrollToTop();
        // if data-side-canvas is set, add the value as a css class to .wrap-outer
        if ($(el).data('side-canvas')) {
          $('.wrap--outer').css('height', $('.mobile--side-canvas').outerHeight());
          $('.wrap--outer').addClass('-' + $(el).data('side-canvas'));
        } else {
        // remove all classes after animation ends
          setTimeout(function() {
            $('.wrap--outer').css('height', '');
            $('.wrap--outer').attr('class', 'wrap--outer');
          }, 600);
        }
      },

      scrollToTop: function() {
      $('.wrap--outer').scrollTop(0);
      },

      navigationDropdown: function() {
        var delay;
        $('.js-nav-dropdown').hover(
          function(event) {
            var self = this;
            delay = setTimeout(function() {
              var targetDropdown = $('.' + $(self).attr('data-target'));
              $(self).addClass('toggled');
              targetDropdown.fadeIn(150);
            }, 300);
          },
          function(event) {
            var targetDropdown = $('.' + $(this).attr('data-target'));
            if (!$(event.relatedTarget).is(targetDropdown)) {
              $(this).removeClass('toggled');
              targetDropdown.fadeOut(150);
              clearTimeout(delay);
            }
          }
        );
        $('.navigation--dropdown').on('mouseleave', function(event) {
          // to prevent closing dropdown when ancestor of relatedTarget is .js-nav-dropdown
          if (!$(event.relatedTarget).closest('.toggled').length) {
            $('.toggled').removeClass('toggled');
            $(this).fadeOut(150);
          }
        });
      }
    };
    return {
      app: app,
      navigation: navigation,
    };
  })();
  $(function() {
  Public.app.init();
  });
</script>
