    </div>{{!-- end .page-rip in header.hbs --}}
    <footer class="margin-top-xxl position--relative container">
      <a class="button footer--button" href="https://applegate.com/locator">Where To Buy</a>
      <div class="row">
        <div class="col-12">
          <div class="row margin-top-lg margin-bottom-lg footer--links">
            <div class="col-lg-3 col-6">
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase"><a href="https://applegate.com/animal-welfare">Animal Welfare</a></p>
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase"><a href="https://applegate.com/mission">Mission</a></p>
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase"><a href="https://applegate.com/coupons">Coupons</a></p>
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase"><a href="https://applegate.com/newsletter">Newsletter</a></p>
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase"><a href="https://applegate.com/careers">Careers</a></p>
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase"><a href="https://applegate.zendesk.com/hc/en-us/requests/new">Contact Us</a></p>
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase"><a href="sms://19087255800?&amp;body=Hey%20Applegate%20ðŸŒ­ðŸ¥“ðŸ”%20I%20have%20a%20question...">Text Us</a><span class="d-none d-sm-inline"> - +1 (908) 725-5800</span></p>
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase d-lg-none"><a href="https://applegate.com/products">Products</a></p>
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase d-lg-none"><a href="https://applegate.com/recipes">Recipes</a></p>
            </div>
            <div class="col-lg-3 col-6">
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase"><a href="https://applegate.com/about-us">About Us</a></p>
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase"><a href="https://applegate.zendesk.com/">Help</a></p>
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase"><a href="https://applegate.com/community">Blog</a></p>
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase"><a href="https://applegate.com/allergen_search">Allergen Search</a></p>
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase"><a target="_blank" href="https://www.hormelfoodservice.com/brand/applegate/">Foodservice</a></p>
              <p class="margin-top-xxs margin-bottom-xxs small font-weight--bold uppercase"><a href="https://applegate.com/review">Review Our Products</a></p>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
              <div class="row">
                <div class="col-lg-8">
                  <p class="small font-weight--bold uppercase margin-bottom-xxs"><a href="https://applegate.com/products">Products</a></p>
                  <div class="row">
                      <div class="col-lg-6">
                          <p><a href="https://applegate.com/products/wall-deli-meat/category">Deli Meat</a></p>
                          <p><a href="https://applegate.com/products/breaded-chicken/category">Breaded Chicken</a></p>
                          <p><a href="https://applegate.com/products/breakfast-sausage/category">Breakfast Sausage</a></p>
                          <p><a href="https://applegate.com/products/bacon/category">Bacon</a></p>
                          <p><a href="https://applegate.com/products/hot-dogs/category">Hot Dogs</a></p>
                          <p><a href="https://applegate.com/products/frittata-bites/category">Frittata Bites</a></p>
                          <p><a href="https://applegate.com/products/wall-deli-italian/category">Traditional Italian</a></p>
                      </div>
                      <div class="col-lg-6">
                          <p><a href="https://applegate.com/products/dinner-sausage/category">Dinner Sausage</a></p>
                          <p><a href="https://applegate.com/products/chicken-strips/category">Grilled Chicken Strips</a></p>
                          <p><a href="https://applegate.com/products/burgers/category">Burgers</a></p>
                          <p><a href="https://applegate.com/products/wall-deli-cheese/category">Cheese</a></p>
                          <p><a href="https://applegate.com/products/snacking/category">Snacking</a></p>
                      </div>
                  </div>
                </div>
                <div class="col-lg-4">
                <script type="text/javascript" src="https://s3.amazonaws.com/a2.textline.com/widget.js"></script>
                  <p class="small font-weight--bold uppercase margin-bottom-xxs"><a href="https://applegate.com/recipes">Recipes</a></p>
                    <p><a href="https://applegate.com/recipes/search?diet%5B%5D=dairy+free">Dairy Free</a></p>
                    <p><a href="https://applegate.com/recipes/search?diet%5B%5D=gluten+free">Gluten Free</a></p>
                    <p><a href="https://applegate.com/recipes/search?diet%5B%5D=whole30">Whole30</a></p>
                    <p><a href="https://applegate.com/recipes/search?category%5B%5D=breakfast">Breakfasts</a></p>
                    <p><a href="https://applegate.com/recipes/search?category%5B%5D=soup">Soups</a></p>
                    <p><a href="https://applegate.com/recipes/search?category%5B%5D=entree">Entrees</a></p>
                    <p><a href="https://applegate.com/recipes/search?category%5B%5D=side+dish">Side Dishes</a></p>
                    <p><a href="https://applegate.com/recipes/search?category%5B%5D=sandwich">Sandwiches</a></p>
                    <p><a href="https://applegate.com/recipes/search?category%5B%5D=salad">Salads</a></p>
                    <p><a href="https://applegate.com/recipes/search?category%5B%5D=appetizer">Appetizers</a></p>
                    <p><a href="https://applegate.com/recipes/search?category%5B%5D=toppings">Toppings</a></p>
                    <p><a href="https://applegate.com/recipes/search?category%5B%5D=sweets+and+treats">Sweets And Treats</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="row margin-bottom-md">
            <div class="col-12">
              <p><small><sup>*</sup>Animals raised with no antibiotics ever or growth promotants, on vegetarian feed with no animal by products (beef is 100% grass-fed) and with space to engage in natural behaviors and promote natural growth.</small></p>
              <p><small><sup>**</sup>Applegate requires all animals be raised without antibiotics. Applegate is committed to advancing agriculture and processing systems like organic, non-GMO and regenerative farming.</small></p>
              <p><small><sup>***</sup>By subscribing, you agree to receive recurring automated marketing messages from Applegate at this phone number. Reply STOP to unsubscribe. Msg and data rates may apply. View our <a href="https://applegate.com/privacy-policy">Privacy Policy</a> and <a href="https://applegate.com/terms-of-use">Terms of Service</a>.</small></p>
            </div>
          </div>
          <div class="row margin-bottom-md">
            <div class="col-md-8">
              <p class="small margin-bottom-xxs"><a href="https://applegate.com/site_map">Site Map</a> | <a href="https://applegate.zendesk.com/hc/en-us/articles/360043759172-Applegate-s-45-Day-Satisfaction-Guarantee">Applegate's 45 Day Satisfaction Guarantee</a> | <a href="https://applegate.com/brand-assets">Brand Assets</a></p>
              <p class="small margin-bottom-xxs"><a href="https://applegate.com/terms-of-use">Terms &amp; Conditions</a> | <a href="https://applegate.com/privacy-policy">Privacy Policy</a> | <a href="https://applegate.com/online-cookie-policy">Online Cookie Policy</a></p>
              <p class="small margin-bottom-xxs"><a href="https://www.hormelfoods.com/ccpa-footer-california-privacy-policy" target="_blank" class="link--new-window">California Privacy Policy</a> | <a href="https://www.hormelfoods.com/ccpa-footer-california-collection-notice" target="_blank" class="link--new-window">California Collection Notice</a> | <a href="https://applegate.zendesk.com/hc/en-us/articles/4407304139284">Website Accessibility</a> | <a href="https://www.hormelfoods.com/ccpa-footer-do-not-sell-my-info" target="_blank" class="link--new-window"><strong>Do Not Sell My Info</strong></a></p>
            </div>
            <div class="col-md-4 text-right--medium-up">
              <p class="small margin-bottom-xxs">Copyright Â©2024 Applegate Farms, LLC</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>{{!-- end .wrap--inner in header.hbs --}}
</div>{{!-- end .wrap--outer in header.hbs --}}
<script>
  function trapFocus(elem, firstTabbableFocused = true) {
    const tabbable = elem.find('select, input, textarea, button, a').filter(':visible');

    const firstTabbable = tabbable.first();
    const lastTabbable = tabbable.last();
    console.log(firstTabbable);

    if (firstTabbableFocused) {
      /* set focus on first input */
      firstTabbable.focus();
      console.log(true);
    }

    /* redirect last tab to first input */
    lastTabbable.on('keydown', (e) => {
      if ((e.which === 9 && !e.shiftKey)) {
        e.preventDefault();
        firstTabbable.focus();
      }
    });

    /* redirect first shift+tab to last input */
    firstTabbable.on('keydown', (e) => {
      if ((e.which === 9 && e.shiftKey)) {
        e.preventDefault();
        lastTabbable.focus();
      }
    });
  }

  var Public = (function() {
    var app = {
      init: function() {
        navigation.init();
        this.onResize();
        this.modalTip();
        this.focusCloseMenu();
        this.userIsTabbing();
      },

      onResize() {
      const self = this;
      $(window).on('resize', () => {
        // close motaltips
        $('.modaltip').fadeOut();
        if (self.isMobile()) {
          // make sure carousel is not already initialized
          if (!$('.js-mobile-carousel').hasClass('slick-initialized')) {
            self.initMobileCarousel();
          }
        } else {
          // Remove extended class to hide mobile nav
          $('.wrap--outer').removeClass('-extended');
          // make sure carousel is initialized or error
          if ($('.js-mobile-carousel').hasClass('slick-initialized')) {
            $('.js-mobile-carousel').slick('unslick');
          }
        }
      });
    },

    modalTip() {
      const claimHeight = parseInt($('.claims').css('height'), 10);

      const openModalTip = function (height) {
        if (!Public.app.isMobile()) {
          $('.modaltip').css('top', height + 5).fadeIn();
        }
      };

      const closeModalTip = function () {
        $('.modaltip').fadeOut(function () {
          $(this).css('bottom', '').css('margin-top', '');
        });
      };

      // Opens modal tip on click for desktop
      $('.js-modaltip').on('click', (e) => {
        openModalTip(claimHeight);
        trapFocus($('.modaltip'));
        e.preventDefault();
      });
      // Closes modaltip with the link
      $('.js-modaltip-close').on('click', (e) => {
        e.preventDefault();
        closeModalTip();
        $('.js-modaltip').focus();
      });
      // Closes modaltip by clicking outside of the div
      $('html').on('click', () => {
        closeModalTip();
      });
      $('.modaltip').on('keydown', (e) => {
        if (e.key === 'Escape') {
          closeModalTip();
          $('.js-modaltip').focus();
        }
      });
      // Prevents modal from closing when there is a click on it
      // after it has opened
      $('.js-modaltip-wrap').on('click', (e) => {
        e.stopPropagation();
      });
    },

    isMobile() {
      if (window.innerWidth < 768) {
        return true;
      }
      return false;
    },

    isLarge() {
      if (window.innerWidth < 992) {
        return true;
      }
      return false;
    },

    userIsTabbing() {
      function handleFirstTab(e) {
        if (e.keyCode === 9) { // the "I am a keyboard user" key
          document.body.classList.add('user-is-tabbing');
          window.removeEventListener('keydown', handleFirstTab);
        }
      }

      window.addEventListener('keydown', handleFirstTab);
    },
    focusCloseMenu() {
      $('.js-focus-close').on('keydown', (e) => {
        if (e.key === 'Enter') {
          const focusTarget = $(e.target).data('focus-target');
          setTimeout(() => {
            $(`.${focusTarget}`).focus();
          }, 400);
        }
      });
    }
  };
    var navigation = {
      init: function() {
        this.navigationDropdown();
        this.bindMobileNavigation();
      },

      // Mobile Navigation
      bindMobileNavigation() {
        const self = this;
        $('.js-mobile-nav').on('click', function (evt) {
          evt.preventDefault();
          self.triggerSideCanvas(this);
        });
      },
      // This is used for mobile navigation and mobile filter
      triggerSideCanvas(el) {
        if (Public.app.isLarge()) {
          $('.wrap--outer').toggleClass('-extended');
          this.scrollToTop();
          // if data-side-canvas is set, add the value as a css class to .wrap-outer
          if ($(el).data('side-canvas')) {
            $('.wrap--outer').css('height', $('.mobile--side-canvas').outerHeight());
            $('.wrap--outer').addClass(`-${$(el).data('side-canvas')}`);
            const targetCanvas = $(`.mobile--${$(el).data('side-canvas')}`);
            // trapFocus after the animation ends
            setTimeout(() => {
              trapFocus(targetCanvas);
            }, 400);
          } else {
            // remove all classes after animation ends
            setTimeout(() => {
              $('.wrap--outer').css('height', '');
              $('.wrap--outer').attr('class', 'wrap--outer');
            }, 400);
          }
        }
      },

      scrollToTop: function() {
        $('.wrap--outer').scrollTop(0);
      },

      navigationDropdown() {
        $('.js-nav-dropdown').on('mouseenter keydown', function (e) {
          if (e.key === 'Enter' || e.type === 'mouseenter') {
            e.preventDefault();
            const self = this;
            setTimeout(() => {
              const targetDropdown = $(`.${$(self).attr('data-target')}`);
              $(self).addClass('toggled');
              targetDropdown.fadeIn(150);
              if (e.key === 'Enter') {
                trapFocus(targetDropdown);
              }
            }, 10);
          }
        });

        $('.js-nav-dropdown').on('mouseleave', function (e) {
          const targetDropdown2 = $(`.${$(this).attr('data-target')}`);
          if (!$(e.relatedTarget).is(targetDropdown2)) {
            $(this).removeClass('toggled');
            targetDropdown2.fadeOut(150);
            $(this).children().first().attr('aria-expanded', 'false');
          }
        });

        $('.navigation-dropdown').on('mouseleave', function (event) {
          // to prevent closing dropdown when ancestor of relatedTarget is .js-nav-dropdown
          if (!$(event.relatedTarget).closest('.toggled').length) {
            $('.toggled .navigation__link').attr('aria-expanded', 'false');
            $('.toggled').removeClass('toggled');
            $(this).fadeOut(150);
          }
        });

        $('.navigation-dropdown, .mobile--nav').on('keydown', function (e) {
          if (e.key === 'Escape') {
            e.preventDefault();
            const focusTarget = $('.js-focus-close:visible').attr('data-focus-target');
            if (Public.app.isLarge()) {
              Public.navigation.triggerSideCanvas(e.target);
            } else {
              $('.toggled .navigation__link').focus().attr('aria-expanded', 'false');
              $('.toggled').removeClass('toggled');
              $(this).fadeOut(150);
            }
            setTimeout(() => {
              $(`.${focusTarget}`).focus();
            }, 400);
          }
        });

        $('.exit-dropdown').on('keydown', (e) => {
          if (e.key === 'Enter') {
            $('.toggled .navigation__link').focus().attr('aria-expanded', 'false');
            $('.toggled').removeClass('toggled');
            $('.navigation-dropdown').fadeOut(150);
          }
        });
      },
    };
    return {
      app: app,
      navigation: navigation,
    };
  })();
  $(function() {
    Public.app.init();
  });
</script>
